.hero-container {
  max-width: 776px;
  margin-top: 140px;
  padding-bottom: 117px;
  margin-left: 310px;
  display: block;
}

a {
  text-decoration: none;
  color: #73738D;
}

li {
  display: block;
}

.hero_title {
  width: 429px;
  height: 97px;
  color: #222;
  font-size: 40px;
  font-weight: 700;
}

.paragraph{
  height: 67px;
  color: #73738D;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  padding-right: 370px;
}

.hero_buttons {
  display:flex;
  flex-direction:row;
  width: 410px;
  height: 42px;
  border-radius: 34px;
  box-shadow: -4px 2px #fdfafa, 2px 4px #faf2f2, 4px 2px #fbf7f7, 2px -4px #fdf8f8, 2px -4px #f4f0f0;
}

.double_button {
  flex-grow:2;
  background: #FFF;
  border: none;
  border-radius: 34px;
}

.double_button:focus {
  outline:none;
}

.hero_buttons:focus-within {
  outline: 2px solid #FFFFFF;
  animation: pulse 5s linear infinite;
}

.text_button {
  border:2px solid blue;
  color:white;
  width: 158px;
  height: 42px;
  border-radius: 34px;
  background: #1943EF;
  cursor: wait;
}

.text_button:hover, .text_button:active {
  background: #ffffff;
  color: #0445e6;
}

@media screen and (max-width:768px) {
  .hero-container {
    margin-top: 10px;
    margin-left: 0;
    width: 92%;
    left: 0;
    padding-bottom: 340px;
  }

  .hero_title {
    margin-top: 130px;
    font-size: 30px;
    width: 133%;
  }

  .paragraph {
    padding-bottom: 40px;
    width: 130%;
    padding-right: 0;
  }

  .hero_buttons {
    width: 290px;
  }

  .text_button {
    width: 40%;
  }

  .hero-image {
    display: none;
  }
}
