.img_desc_title {
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
    font-family: Gilroy-Regular;
}

.buttons_title_desc {
    display: block;
    margin-left: 60px;
    margin-top: 10px;
}

.img_desc_title img {
    height: 350px;
    width: 600px;
    border-radius: 20px;
}

.title_desc {
    display: block;
}

.title_desc h2 {
    font-size: 32px;
}

.title_desc p {
    font-size: 21px;
}

.buttons_charac_1_2 {
    display: flex;
}

.charact_button1 {
    appearance: none;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    width: 140px;
    border-radius: 15px;
    color: #000000;
}

.charact_button1:disabled {
    pointer-events: none;
}

.charact_button1:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.charact_button1:active {
    box-shadow: none;
    transform: translateY(0);
}

.charact_button2 {
    appearance: none;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    min-height: 40px;
    line-height: normal;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    width: 140px;
    border-radius: 15px;
    color: #ffffff;
    margin-left: 10px;
}

.charact_button2:disabled {
    pointer-events: none;
}

.charact_button2:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.charact_button2:active {
    box-shadow: none;
    transform: translateY(0);
}

.output_select {
    display: flex;
    text-align: start;
    margin-top: 90px;
}

.output_sold {
    height: 85px;
}

.output_sold h3 {
   font-size: 17px;
}

.output_num_sold_trolleybuses {
    border-radius: 6px;
    border: 2px solid black;
    padding:  5px 100px 5px 10px;
}

.colour_select {
    margin-left: 50px;
    height: 95px;
}

.colour_select h3 {
    font-size: 17px;
    margin-bottom: 3px;
    margin-left: -83px;
}

.select_colour {
    margin-top: 8px;
    border: 2px solid black;
    background: black;
    color: white;
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.7);
    appearance: none;
    cursor: pointer;
    width: 145px;
    padding: 6px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.select_container {
    position: relative;
    display: inline-block;
}

.select_arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.select_colour {
    animation: fadeIn 0.5s ease-in-out;
}

.select_colour option {
    background-color: white;
    color: black;
}

.select_colour:hover {
    background: #333;
}

.select_colour:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.price_type_back_cart {
    display: flex;
    margin-top: 200px;
    padding-bottom: 100px;
    margin-left: 50px;
    align-items: center;
}

.back_and_cart {
    margin-left: 850px;
}

.back_catalog_button {
    appearance: none;
    background-color: #f11010;
    border: 2px solid #e60d0d;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    min-height: 50px;
    line-height: normal;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    width: 140px;
    border-radius: 15px;
    color: #ffffff;
    margin-left: 10px;
}

.back_catalog_button:disabled {
    pointer-events: none;
}

.back_catalog_button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.back_catalog_button:active {
    box-shadow: none;
    transform: translateY(0);
}

.to_cart_button {
    appearance: none;
    background-color: #29e005;
    border: 2px solid #29e005;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    min-height: 50px;
    line-height: normal;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    width: 140px;
    border-radius: 15px;
    color: #ffffff;
    margin-left: 40px;
}

.to_cart_button:disabled {
    pointer-events: none;
}

.to_cart_button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.to_cart_button:active {
    box-shadow: none;
    transform: translateY(0);
}
