.photos_part {
    margin-top: 230px;
    font-family: "Gilroy-Regular";
    padding-bottom: 210px;
}

.photos_part__nav {
    margin-left: 80px;
    display: flex;
}

.photos_part__nav_i_h_p1 img, .photos_part__nav_i_h_p2 img, .photos_part__nav_i_h_p3 img  {
    aspect-ratio: 1;
    border-radius: 20px;
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}

.photos_part__nav_i_h_p1 img:hover, .photos_part__nav_i_h_p2 img:hover, .photos_part__nav_i_h_p3 img:hover {
    opacity: .8;
}

.photos_part__nav_i_h_p1, .photos_part__nav_i_h_p2, .photos_part__nav_i_h_p3 {
    padding-left: 50px;
    text-align: center;
}

.photos_part_h_p1, .photos_part_h_p2, .photos_part_h_p3 {
    width: 340px;
    margin-left: 13px;
}

.photos_part_header1, .photos_part_header2, .photos_part_header3 {
    font-size: 28px;
}

.photos_part_paragraph_1, .photos_part_paragraph_2, .photos_part_paragraph_3 {
    font-size: 18px;
}

.view_more_button a {
    text-decoration: none;
    color: black;
}

.view_more_button {
    margin-top: 130px;
    margin-left: 630px;
    padding: 0.5em 2em;
    outline: none;
    text-decoration: none;
    color: #000000;
    width: 190px;
    height: 50px;
    font-size: 20px;
    border: 3px solid transparent;
    font-family: "Gilroy-Regular";
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    ser-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.view_more_button:before {
    content: "";
    background: linear-gradient(
            55deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-header__category 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    margin: 0 60px 0 0;
}

@keyframes glowing-header__category {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.view_more_button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f4f0f0;
    left: 0;
    top: 0;
    border-radius: 10px;
    margin: 0 60px 0 0;
}

.view_more_button:hover {
    outline: none;
    background: #ffffff;
    border: 2px solid transparent;
    font-family: "Gilroy-Regular";
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
    font-size: 22px;
    ser-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 190px;
    height: 57px;
    margin-top: 130px;
    margin-left: 630px;
    padding: 0.5em 2em;
}
